services:
  graph-node:
    image: graphprotocol/graph-node
    ports:
      - '8000:8000' # GraphQL
      - '8001:8001'
      - '8020:8020' # Graph Node HTTP API
      - '8030:8030'
      - '8040:8040'
    depends_on:
      - ipfs
      - postgres
    environment:
      postgres_host: postgres
      postgres_user: graph-node
      postgres_pass: let-me-in
      postgres_db: graph-node
      ipfs: 'ipfs:5001'
      # point to hardhat running on host
      ethereum: 'hardhat:http://host.docker.internal:8545'
      RUST_LOG: info
  ipfs:
    image: ipfs/kubo:latest
    ports:
      - '5001:5001'
    volumes:
      - ./data/ipfs:/data/ipfs
    environment:
      GRAPH_ALLOW_NON_DETERMINISTIC_IPFS: 1
  postgres:
    image: postgres:15
    ports:
      - '5432:5432'
    command: ["postgres", "-cshared_preload_libraries=pg_stat_statements"]
    environment:
      POSTGRES_USER: graph-node
      POSTGRES_PASSWORD: let-me-in
      POSTGRES_DB: graph-node
      POSTGRES_INITDB_ARGS: "-E UTF8 --locale=C"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data